name: Docker Image Build
on:
  push:
    branches: ["**","!master"]
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build -t mumo .
